<div class="container mt-5 form">
  <%= render partial: 'layouts/errors', locals: {object: @recipe_ingredient} %>

  <div class="row">
    <div class="col">
      <h1>Add Ingredients</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render 'form' %>
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <%= link_to "Back to Recipe", recipe_path(@recipe_ingredient.recipe), class: "btn btn-dark" %>
    </div>
  </div>
</div>





