<div class="row">
  <div class="col-md-12">      
      <a href="/auth/google_oauth2" style='font-size:30px'><i class='fab fa-google icons'></i></a>
      <a href="/auth/facebook" style='font-size:30px'><i class='fab fa-facebook icons'></i></a>
      <a href="/auth/github" style='font-size:30px'><i class='fab fa-github icons'></i></a>
  </div>
</div>

