<div class="row">
  <div class="col">      
      <a class="m-1" href="/auth/google_oauth2" style='font-size:30px'><i class="fab fa-google"></i></a>
      <a class="m-1" href="/auth/facebook" style='font-size:30px'><i class='fa fa-facebook-official'></i></a>
      <a class="m-1" href="/auth/github" style='font-size:30px'><i class='fa fa-github'></i></a>
  </div>
</div>

