<h1>All Recipes</h1>

<ul>
	<% @recipes.each do |recipe| %>
		<li>
			<% if recipe.image.attached? %>
				<%= image_tag url_for(recipe.image) %>
			<% end %>
			<h3><%=link_to recipe.title, recipe_path(recipe) %> <small>Ready in - <%= recipe.cook_time %></small></h3>			
		</li>
	<% end %>
</ul>