
<div class="container mt-5">
  <div class="row text-center">
    <div class="col">
      <img src="https://cdn.pixabay.com/photo/2016/05/06/12/15/cook-1375788_960_720.jpg" class="img-fluid home-page-img" alt="recipe-book-image">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center">
      <h1>Welcome to Recipes!</h1>
      <p class="heart">Made with ❤️ by Chandra </p>
    </div>
  </div>
</div>

