
<div>
  <div class="home-page">
    <img class="home-page img-responsive" src="https://cdn.pixabay.com/photo/2016/05/06/12/15/cook-1375788_960_720.jpg">
  </div>
  <h1 align="center">Welcome to Recipes!</h1>
  <p align="center" class="heart">Made with ❤️ by Chandra </p>
</div>