// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media screen {
  
  div.field_with_errors input, div.field_with_errors textarea {
    border: 1px solid red;
  }

  #error_explanation, .error {
    color: red;
  }
 
  .message {
    color: green;
  }

  .edit-ingredient, {
    margin-right: 10px;
  }

  .edit-review {
    margin-top: 10px;
  }

  .review-user {
    text-align: right;
  }

  .btn {
    margin: 15px 15px 0 0;
  }

  img.recipe-image {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  &:hover {
    transform: scale(1.075);
    }  
  }

  img.home-page {
    width: 800px;
    border-radius: 10px;
  }
  
  .home-page {
    margin: auto;    
  }

  .image-title {
    text-align: center;    
  }

  .instructions, .review-content {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }

  .recipe-title-content {
    margin: 5px;
  }

  .review-title {
    padding: 5px;    
  }

  .filter-tags {
    // border-bottom: 2px solid #ccc;
    margin-bottom: 25px;
    align-items: right;
  }

  .filter-btn {
    margin-top: 20px;
  }

  .reviews-count {
    margin-left: 5px;
  }

}